/*Avatar*/

.navbar-nav > li > a.avatar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    height: 30px;
}

.avatar-preview {
    margin-right: 0px;
    float: left;
    background: 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-img {
    margin-right: 5px;
    float: left;
    background: 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 20px;
    height: 20px;
}

.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

.centerFlex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.file-input > button {
    margin-left: 35px;
}

#calendarHelp {
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    /*So that the background color is visible and does not look like a box*/
}

/*
.navbar{
  min-height: 70px;
}*/

/*Navbar*/
.navbar-inverse .navbar-nav .open .dropdown-menu .fa {
    margin-top: 5px;
}

.dropdown-menu {
    min-width: 139.7px;
    width: inherit;
}

/*Calendar*/
.row-calendar {
    /*margin:2% 4% 5%;*/
    padding: 2% 4%;
    border-bottom: none;
}

.fc-center h2 {
    font-size: 150%;
}

.fc-unthemed td.fc-today {
    background-color: #ffefc4;
}

theadhead.fc-head {
    background-color: #e4924b;
    color: #fff;
}

.fc-toolbar {
    font-size: 15px;
}

td.fc-day-top.fc-today.fc-state-highlight, td.fc-day.fc-widget-content.fc-today.fc-state-highlight {
    background-color: rgba(255, 59, 59, .8);
}

.next {
    position: absolute;
    right: 40%;
    color: #ff7f00;
    font-size: 4rem;
    transition: 0.3s;
    cursor: pointer;
}

#noteModalTitle{
    font-size: 4rem;
}

.prev {
    position: absolute;
    right: 55%;
    color: #ff7f00;
    font-size: 4rem;
    transition: 0.5s;
    cursor: pointer;
}

.hides {
    position: absolute;
    top: 5%;
    margin-left: 75%;
    transition: 0.3s;
    width: 1.5%;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#note1, #note2, #note3, #note4 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 10px solid black;
    cursor: pointer;
    height: 300px;
    min-width: 230px;
    display: none;
    margin-top: 60px;

}

#note1:hover, #note2:hover, #note3:hover, #note4:hover {
    box-shadow: 0 0 20px black;
}

#s1, #s2, #s3, #s4, #s1rename {
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    overflow: hidden;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 0 5px grey;
}

.l1, .l2, .l3, .l4, .l4, .l5, .l6 {
    width: 80%;
}

/*.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}*/

.bm {
    margin-top: -41px;
    width: 30px;
    height: 20px;
}

#addimg {
    margin-right: 50%;
    width: 20%;
    cursor: pointer;
}

#imgno{
    font-size: 2rem;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, .9); /* Fallback color */
    z-index: 5;
}

.close2 {
    box-shadow: 5px;
    margin-left: 10%;
}

.forms {
    border: 1px grey solid;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 10%;
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, .9); /* Fallback color */
    z-index: 5;
}

.removen {
    margin-left: 32%;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, .9);
    border-color: rgba(255, 0, 0, .5);
    float: left;
    display: inline-block;
}

.addn {
    margin-left: 32%;
    border-radius: 10px;
    border-color: rgba(0, 255, 0, .5);
    background-color: rgba(0, 255, 0, .9);
    float: left;
    display: inline-block;
}

.noteplus {
    margin-top: 1.5rem;
    font-size: 4rem;
    cursor: pointer;
}

.deletenote {
    margin-top: 1.5rem;
    font-size: 4rem;
    cursor: pointer;
}

#img01 {
    display: block;
    margin: auto;
    height: 300px;
    border: 3px solid grey;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
}

#books {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    justify-content: space-around;
}

#mynotes {
    max-height: 560px;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.noteslabel {
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}

#calbg {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gotoevent:hover {
    box-shadow: 0 5px 0px grey;
}

#gotoevent {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    height: 50px;
    background-color: rgba(256, 256, 256, .6);
    margin-top: 179px;
}

#down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
}

#down:focus {
    outline: 0;
}

.changenotes {
    min-width: 20px;
    height: 364px;
    margin-left: 0;
}

#gotonote {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 50px;
    border: none;
    background-color: rgba(256, 256, 256, .6);
    width: 100%;
}

#gotonote:hover {
    box-shadow: 0 5px 0px grey;
}

#goleft {
    margin-left: 10px;
    font-size: 30px;
    top: 190px;
    cursor: pointer;
    color: white;
}

#goright {
    margin-left: 10px;
    font-size: 30px;
    top: 190px;
    cursor: pointer;
    color: white;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#img01 {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

/*Bootstrap switch*/

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

#help{
    margin-top: 10px;
    margin-right: 15px;
    font-size: 3rem;
    cursor: pointer;
}

#del1,#del2,#del3,#del4
{
    font-size: 25px;
    color: white;
    margin-left: 210px;
    margin-top: 30px;
    position: absolute;
    display: none;
    cursor: pointer;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red, 0 0 5px red;

}

#del1:hover,#del2:hover,#del3:hover,#del4:hover
{
    text-shadow: -3px 0 red, 0 3px red, 3px 0 red, 0 -3px red, 0 0 5px red;

}
.wiggles{
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1000;
    -ms-animation-iteration-count: 1000;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}


@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(2deg);}
    25% {-webkit-transform: rotate(-2deg);}
    50% {-webkit-transform: rotate(2deg);}
    75% {-webkit-transform: rotate(-2deg);}
    100% {-webkit-transform: rotate(2deg);}
}

@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(2deg);}
    25% {-ms-transform: rotate(-2deg);}
    50% {-ms-transform: rotate(2deg);}
    75% {-ms-transform: rotate(-2deg);}
    100% {-ms-transform: rotate(2deg);}
}

@keyframes wiggle {
    0% {transform: rotate(2deg);}
    25% {transform: rotate(-2deg);}
    50% {transform: rotate(2deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(2deg);}
}

.addImageKv .file-preview
{
    display: none;
}