/*General*/
.centerFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

/*Avatar*/
.navbar-nav > li > a.avatar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    height: 30px;
}

.avatar-preview {
    margin-right: 0;
    float: left;
    background: 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-img {
    margin-right: 5px;
    float: left;
    background: 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 20px;
    height: 20px;
}

.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

.file-input > button {
    margin-left: 35px;
}

/*Navbar*/
.navbar-inverse .navbar-nav .open .dropdown-menu .fa {
    margin-top: 5px;
}

.dropdown-menu {
    min-width: 140px;
    width: inherit;
}

#tour_help_button {
    margin-left: 15px;
}

/*Calendar*/
.row-calendar {
    /*margin:2% 4% 5%;*/
    padding: 2% 4%;
    border-bottom: none;
}

#calendarHelp {
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    /*So that the background color is visible and does not look like a box*/
}

#calendar {
    font-size: 2rem;
    color: #000000;
}

.fc-center h2 {
    font-size: 150%;
}

.fc-unthemed td.fc-today {
    background-color: #ffefc4;
}

.fc-head {
    background-color: #e4924b;
    color: #ffffff;
}

.fc-toolbar {
    font-size: 15px;
}

td.fc-day-top.fc-today.fc-state-highlight, td.fc-day.fc-widget-content.fc-today.fc-state-highlight {
    background-color: rgba(255, 59, 59, .8);
}

#calbg {
    background: url("../img/calendar5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Notes*/

.next {
    position: absolute;
    right: 40%;
    color: #ff7f00;
    font-size: 4rem;
    transition: 0.3s;
    cursor: pointer;
}

#noteModalTitle {
    font-size: 4rem;
}

.prev {
    position: absolute;
    right: 55%;
    color: #ff7f00;
    font-size: 4rem;
    transition: 0.5s;
    cursor: pointer;
}

.hides {
    position: absolute;
    top: 5%;
    margin-left: 75%;
    transition: 0.3s;
    width: 1.5%;
    cursor: pointer;
}

#hides1, #hides2 {
    color: #808080;
    height: 10%;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#note1, #note2, #note3, #note4 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 10px solid #000000;
    cursor: pointer;
    height: 300px;
    min-width: 230px;
    max-width: 230px;
    display: none;
    margin: 30px auto auto 0;
    overflow: hidden;
}

#note1:hover, #note2:hover, #note3:hover, #note4:hover {
    box-shadow: 0 0 20px #000000;
}

#s1, #s2, #s3, #s4, #s1rename {
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    color: #ffffff;
    /*overflow: scroll;*/
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0 5px #808080;
}

.l1, .l2, .l3, .l4, .l4, .l5, .l6 {
    width: 80%;
}

.bookmark {
    margin-top: -41px;
    width: 30px;
    height: 20px;
}

#addimg {
    margin-right: 50%;
    width: 20%;
    cursor: pointer;
}

#imgno {
    font-size: 2rem;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, .9); /* Fallback color */
    z-index: 5;
}

.close2 {
    box-shadow: 5px;
    margin-left: 10%;
}

.forms {
    border: 1px #808080 solid;
    border-radius: 10px;
    box-shadow: 0 0 10px #808080;
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 10%;
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, .9); /* Fallback color */
    z-index: 5;
}

.noteplus {
    margin-top: 1.5rem;
    font-size: 4rem;
    cursor: pointer;
}

.deletenote {
    margin-top: 1.5rem;
    font-size: 4rem;
    cursor: pointer;
}

#img01 {
    display: block;
    margin: auto;
    height: 300px;
    border: 3px solid #808080;
    box-shadow: 0 0 10px #808080;
    border-radius: 5px;
}

#noteImage {
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
}

#books {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-top: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#mynotes {
    background: url("../img/shelf.jpg") no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#notes {
    background-color: rgba(256, 256, 256, .6);
}

.noteslabel, .eventslabel {
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}

#notespage {
    max-height: 550px;
    margin-top: 40px;
}

#down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
}

#down:focus {
    outline: 0;
}

.changenotes {
    min-width: 20px;
    height: 364px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#gotonote {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    height: 50px;
    border: none;
    background-color: rgba(256, 256, 256, .6);
    width: 100%;
}

#gotonote:hover {
    box-shadow: 0 5px 0 #808080;
}

#goleft {
    margin-left: 10px;
    font-size: 30px;
    top: 190px;
    color: #ffffff;
}

#goright {
    margin-left: 10px;
    font-size: 30px;
    top: 190px;
    color: #FFFFFF;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#img01 {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

/*Bootstrap switch*/

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

#tour_help {
    margin-top: 10px;
    margin-right: 15px;
    font-size: 3rem;
    cursor: pointer;
}

#del1, #del2, #del3, #del4 {
    font-size: 25px;
    color: #ffffff;
    margin-left: 210px;
    margin-top: 2px;
    position: absolute;
    display: none;
    cursor: pointer;
    text-shadow: -1px 0 #FF0000, 0 1px #FF0000, 1px 0 #FF0000, 0 -1px #FF0000, 0 0 5px #FF0000;
}

#del1:hover, #del2:hover, #del3:hover, #del4:hover {
    text-shadow: -3px 0 #FF0000, 0 3px #FF0000, 3px 0 #FF0000, 0 -3px #FF0000, 0 0 5px #FF0000;

}

.dots {
    font-size: 18px;
}

.wiggles {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -o-animation-name: wiggle;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1000000000;
    -ms-animation-iteration-count: 100000000;
    -moz-animation-iteration-count: 100000000;
    -o-animation-iteration-count: 100000000;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(2deg);
    }
    25% {
        -webkit-transform: rotate(-2deg);
    }
    50% {
        -webkit-transform: rotate(2deg);
    }
    75% {
        -webkit-transform: rotate(-2deg);
    }
    100% {
        -webkit-transform: rotate(2deg);
    }
}

@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(2deg);
    }
    25% {
        -ms-transform: rotate(-2deg);
    }
    50% {
        -ms-transform: rotate(2deg);
    }
    75% {
        -ms-transform: rotate(-2deg);
    }
    100% {
        -ms-transform: rotate(2deg);
    }
}

@-o-keyframes wiggle {
    0% {
        -o-transform: rotate(2deg);
    }
    25% {
        -o-transform: rotate(-2deg);
    }
    50% {
        -o-transform: rotate(2deg);
    }
    75% {
        -o-transform: rotate(-2deg);
    }
    100% {
        -o-transform: rotate(2deg);
    }
}

@-moz-keyframes wiggle {
    0% {
        -moz-transform: rotate(2deg);
    }
    25% {
        -moz-transform: rotate(-2deg);
    }
    50% {
        -moz-transform: rotate(2deg);
    }
    75% {
        -moz-transform: rotate(-2deg);
    }
    100% {
        -moz-transform: rotate(2deg);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(2deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

.addNotesKrejee .file-preview {
    display: none;
}

.next, .previous, .dataTables_paginate, .paging_simple_numbers {
    display: none;
}

#nextNote.next {
    display: block;
}

#miniTable table, #miniTable td, #miniTable tr {
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
    height: 30px;
}

#miniTable th {
    font-size: 20px;
    font-weight: bold;
    display: none;
    background: rgba(0, 0, 0, 0.0) none;
    position: absolute;
    left: 200px;
    margin-right: 100px;
}

#miniTable thead {
    display: none;
}

#miniTable.sorting {
    display: none;
!important;
}

#miniTable.sorting_desc {
    display: none;
}

.customHeader {
    font-size: 20px;
    font-weight: bold;
    background-color: #a9a9a9;
!important;
}

#miniTable tr:nth-child(2n+3) {
    font-size: 15px;
    background-color: #f5f5f5;
}

#miniTable tr:nth-child(even) {
    font-size: 15px;
    background-color: #dcdcdc;
}

#miniTable {
    min-width: 90%;
    position: absolute;
    margin: 20px auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 20px;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    width: 30%;
}

#showFullCalendar {
    font-size: 35px;
    margin-top: 10px;
    cursor: pointer;
}

#hideFullCalendar {
    font-size: 35px;
    margin-top: 10px;
    cursor: pointer;
    cursor: pointer;
    /*position: fixed;*/
    display: block;
}

#miniEvents {
    margin-top: 20px;
    margin-bottom: 80px;
    height: 200px;
}

#eventsBanner {
    font-size: 30px;
    color: #000000;
    text-decoration: underline;
}

/*#prevMiniEventPage, #nextMiniEventPage{*/
/*color: black;*/
/*margin-top: 90px;*/
/*font-size: 20px;*/
/*cursor: pointer;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*padding: 10px;*/
/*display: none;*/
/*}*/

#miniEventsContainer {
    background: url("../img/miniTableBG.jpg") no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: auto;
    overflow-y: auto;
}

@media screen and (min-width: 991px) {
    #miniEventsContainer {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

#createEventColorRedBox{
    color:#FF0000 ;
    font-size: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

#createEventColorYellowBox{
    color:#FFDC2E ;
    font-size: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

#createEventColorPurpleBox{
    color: #800080;
    font-size: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

#createEventColorBlueBox{
    color: #0000FF;
    font-size: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

#createEventColorGreenBox{
    color: #ADFF2F;
    font-size: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

#createEventColorGreen,#createEventColorBlue,#createEventColorPurple,#createEventColorRed,#createEventColorYellow{
    display: none;
}

.borderColourPick{
    /*border: 2px solid red;*/
    box-shadow: -3px 0 aqua, 0 3px aqua, 3px 0 aqua, 0 -3px aqua, 0 0 10px aqua;
}